// NEWS

.news {
  padding: 20px;
    &__item {
      padding: 16px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #666666;
    }

    &__item:first-child {
      border-top: 1px solid #666666;
    }

    &__term {
      width: 120px;
      font-size: 10px;
      letter-spacing: 1px;
    }

    &__data {
      font-size: 10px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
}
